* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.grid-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.3333%;
    /* gutter , Materialize 与参考资料的作者都是用 padding 构成 gutter */
    margin: 10px;
}

/* 屏宽大于 768px 时 */
@media screen and (min-width: 769px) {
    .col-md-1 {
        width: calc(8.3333% - 20px);
    }
    .col-md-2 {
        width: calc(16.6666% - 20px);
    }
    .col-md-3 {
        width: calc(25% - 20px);
    }
    .col-md-4 {
        width: calc(33.3333% - 20px);
    }
    .col-md-5 {
        width: calc(41.6666% - 20px);
    }
    .col-md-6 {
        width: calc(50% - 20px);
    }
    .col-md-7 {
        width: calc(58.3333% - 20px);
    }
    .col-md-8 {
        width: calc(66.6666% - 20px);
    }
    .col-md-9 {
        width: calc(75% - 20px);
    }
    .col-md-10 {
        width: calc(83.3333% - 20px);
    }
    .col-md-11 {
        width: calc(91.6666% - 20px);
    }
    .col-md-12 {
        width: calc(100% - 20px);
    }
}

/* 屏宽小于等于 768px 时 */
@media screen and (max-width: 769px) {
    .col-sm-1 {
        width: calc(8.3333% - 20px); /* 父元素的8.3333%减去gutter的20px即为列宽 */
    }
    .col-sm-2 {
        width: calc(16.6666% - 20px);
    }
    .col-sm-3 {
        width: calc(25% - 20px);
    }
    .col-sm-4 {
        width: calc(33.3333% - 20px);
    }
    .col-sm-5 {
        width: calc(41.6666% - 20px);
    }
    .col-sm-6 {
        width: calc(50% - 20px);
    }
    .col-sm-7 {
        width: calc(58.3333% - 20px);
    }
    .col-sm-8 {
        width: calc(66.6666% - 20px);
    }
    .col-sm-9 {
        width: calc(75% - 20px);
    }
    .col-sm-10 {
        width: calc(83.3333% - 20px);
    }
    .col-sm-11 {
        width: calc(91.6666% - 20px);
    }
    .col-sm-12 {
        width: calc(100% - 20px);
    }
}

.grid {
    border: 1px solid #999;
    background-color: #eee;
    height: 50px;
    
    /* 匿名容器内的文字居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}