* {
    padding: 0;
    margin: 0;
}

.tittle {
    text-align: center;
}

.stage {
    perspective: 1000px;
}

.container {
    position: relative;
    transform-style: preserve-3d;
    animation: spin 12s infinite;
    
    height: 80vh;
}

.container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    border: 1px solid #c1c1c1;
}

.container img:nth-child(1) {
    transform: rotateY(0) translateZ(347px);
}

.container img:nth-child(2) {
    transform: rotateY(60deg) translateZ(347px);
}

.container img:nth-child(3) {
    transform: rotateY(120deg) translateZ(347px);
}

.container img:nth-child(4) {
    transform: rotateY(180deg) translateZ(347px);
}

.container img:nth-child(5) {
    transform: rotateY(240deg) translateZ(347px);
}

.container img:nth-child(6) {
    transform: rotateY(300deg) translateZ(347px);
}

@keyframes spin {
    0% {
        transform: rotateY(0);
    }
    
    16.66% {
        transform: rotateY(60deg);
    }
    
    33.33% {
        transform: rotateY(120deg);
    }
    
    50% {
        transform: rotateY(180deg);
    }
    
    66.66% {
        transform: rotateY(240deg);
    }
    
    83.33% {
        transform: rotateY(300deg);
    }
    
    100% {
        transform: rotateY(360deg);
    }
}